<div class="start-container">
  <div class="inputs">
    <div class="name-container">
      <div class="input-group input-group-lg name">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Character Name</span>
        </div>
        <input type="text" [(ngModel)]="charName" name="charName" (input)="name()">
      </div>
    </div>
    <div class="starting-level-container">
      <div class="input-group input-group-lg starting-level">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Starting Level</span>
        </div>
        <input disabled type="number" [(ngModel)]="startingLevel" name="startingLevel">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-sm btn-secondary increment-button" (click)="levelInc(1)">
            <i class="fas fa-caret-up"></i>
          </button>
          <button type="button" class="btn btn-sm btn-secondary increment-button" (click)="levelInc(-1)">
            <i class="fas fa-caret-down"></i>
          </button>
        </div>      
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="go()">Go <i class="fas fa-arrow-right ml-2"></i></button>
  <div *ngIf="error" class="error mt-3">{{ error }}</div>
</div>