.start-container {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}

.name-container, .starting-level-container {display: flex;}

.start-container {height: 100%;}

.inputs {margin-top: -10%;}
.inputs > * {margin: 20px; height: 45px;}

input {background-color: #303030; color: white; text-align: center; font-size: 125%;}

input:focus {background-color: #303030; color: white;}

.input-group-text {width: 200px;}

.starting-level > input {width: 75px;}

.increment-button {
    display: flex; justify-content: center;
    background-color: #202020;
}

.increment-button:hover {background-color: #101010;}

.error {position: absolute; bottom: 42%; color: pink;}

/* hides the increment buttons on number-type inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}