<div class="start-container">
  <div class="inputs">
    <div class="name-container">
      <div class="input-group input-group-lg name">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Character Name</span>
        </div>
        <input type="text" [(ngModel)]="charName" name="charName">
      </div>
    </div>
    <div class="starting-level-container">
      <div class="input-group input-group-lg starting-level">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Starting Level</span>
        </div>
        <input type="text" [(ngModel)]="startingLevel" name="startingLevel">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="startGo()">Go <i class="fas fa-arrow-right ml-2"></i></button>
  <div class="errors mt-3">{{ error }}</div>
</div>