.race-container {
    display: flex; justify-content: space-between;
    height: 100%;
}

.placeholder {
    width: 100%; height: 100%;
    display: flex; justify-content: center;
    background-color: #303030; color: gray;
    font-size: 150%;
    border-radius: 15px;
    padding-top: 50px;
}

.race-list {width: 200px; overflow-y: auto; padding: 10px;}
.list-group-item:hover {background-color: #202020; color: lightblue;}

.selected-race {background-color: #375A7F; color: white; font-weight: bold;}

.race-detail-container, .race-ability-container {
    width: 400px; height: 100%;
    display: flex; flex-direction: column;
    background-color: #303030;
    border-radius: 15px;
    padding: 10px;
}

.race-detail-container {align-items: center;}

.race-detail {
    display: flex; flex-direction: column;
    align-items: center;
    height: 100%;
}

.race-detail > * {margin: 5px;}

.race-stat-box {
    display: flex; flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 5px;
}

.race-desc {text-align: center;}

.select-button-container {
    display: flex; flex-direction: column;
    justify-content: space-around; align-items: center;
    height: 100%; width: 100%;
}

.race-ability-container {overflow-y: auto;}

.race-ability-box {
    display: flex; flex-direction: column;
    margin: 20px;
}

.race-ability-name, .race-ability-desc {padding: 5px;}
.race-ability-name {background-color: #101010;}
.race-ability-desc {background-color: #202020; color: lightgray;}

.subdecisions {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    background-color: #202020;
    border-radius: 15px;
    width: 300px; height: 200px;
}

.subdecisions > div {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    width: 90%;
}

.subdecisions > div > select {
    width: 90%;
    background-color: #404040; color: white;
}