<div class="component-container">
  <div class="list-column">
    <ul class="list-group">
      <li *ngFor="let race of races" class="list-group-item {{race.raceName === selectedRace.raceName ? 'selected' : ''}}" (click)="viewRace(race)">{{race.raceName}}</li>
    </ul>
  </div>
  <div class="container-column-1">
    <div *ngIf="!viewedRace" class="placeholder">Select a Race...</div>
    <div *ngIf="viewedRace" class="selection-detail">
      <h4>{{viewedRace.raceName}}</h4>
      <div class="stat-box-centered">
        <strong>{{viewedRace.ASDesc}}</strong>
        <strong>HP: {{viewedRace.raceData.HP}}</strong>
        <small>{{viewedRace.sizeType}}</small>
      </div>
      <div class="selection-desc">{{viewedRace.description}}</div>
      <div class="select-button-container">
        <button type="button" class="btn btn-primary btn-lg" (click)="selectRace(viewedRace)">Choose This Race</button>
        <div *ngIf="viewedRace.raceName === selectedRace.raceName && viewedRaceDecisions && showDecisions">
          <div class="decisions">
            <div *ngFor="let decision of viewedRaceDecisions">
              <div>{{decision.selectLabel}}</div>
              <select class="custom-select dark-select" (change)="makeDecision(decision,$event.target)">
                <option hidden disabled selected>Select</option>
                <option *ngFor="let option of decision.selectOptions">{{option.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-column-1">
    <div *ngIf="!viewedRace" class="placeholder"></div>
    <h4 *ngIf="viewedRace" class="ability-section-header">Racial Abilities</h4>
    <div *ngIf="viewedRace" class="ability-container">
      <div *ngFor="let ability of viewedRace.racialAbilities; let i = index" class="card ability-card" (click)="hideShow(i)">
        <div class="card-label">
          <div>{{ability.name}}</div>
          <div *ngIf="!showDesc[i]"><i class="fas fa-caret-down"></i></div>
          <div *ngIf="showDesc[i]"><i class="fas fa-caret-left"></i></div>
        </div>
        <div class="ability-desc" *ngIf="showDesc[i]">
          <div>{{ability.description}}</div>
          <div *ngIf="viewedRace.raceName === selectedRace.raceName && ability.decision">
            <div class="decisions">
              <div>{{ability.decision.selectLabel}}</div>
              <select *ngFor="let selection of makeArray(ability.decision.selectionCount); let i = index" class="custom-select dark-select" (change)="makeDecision(ability.decision,$event.target,i)">
                <option hidden disabled selected>Select</option>
                <option *ngFor="let option of ability.decision.selectOptions">{{option.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button type="button" (click)="log()">log()</button> -->