<div class="container">
  <h3>Character Builder</h3>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-secondary" (click)="showTab('start')">Start</button>
    <button [disabled]="isLocked.raceThemeClass" type="button" class="btn btn-secondary" (click)="showTab('race')">Race</button>
    <button [disabled]="isLocked.raceThemeClass" type="button" class="btn btn-secondary" (click)="showTab('theme')">Theme</button>
    <button [disabled]="isLocked.raceThemeClass" type="button" class="btn btn-secondary" (click)="showTab('class')">Class</button>
    <button disabled type="button" class="btn btn-secondary">Ability Scores</button>
    <button disabled type="button" class="btn btn-secondary">Class Choices</button>
    <button disabled type="button" class="btn btn-secondary">Skills</button>
    <button disabled type="button" class="btn btn-secondary">Feats</button>
    <button disabled type="button" class="btn btn-secondary">Spells</button>
  </div>
  <div class="charBuild-area">
    <app-char-build-start [hidden]="!isShown.start" (startComplete)=startComplete($event)></app-char-build-start>
    <app-char-build-race [hidden]="!isShown.race" (raceComplete)=raceComplete($event)></app-char-build-race>
    <app-char-build-theme [hidden]="!isShown.theme" (themeComplete)=themeComplete($event)></app-char-build-theme>
    <app-char-build-class [hidden]="!isShown.class"></app-char-build-class>
  </div>
</div>
