.theme-container {display: flex; height: 100%; justify-content: space-between;}

.placeholder {
    width: 100%; height: 100%;
    display: flex; justify-content: center;
    background-color: #303030; color: gray;
    font-size: 150%;
    border-radius: 15px;
    padding-top: 50px;
}

.theme-list {width: 200px; overflow-y: auto; padding: 10px;}
.theme-list > .list-group > li:hover {background-color: #202020; color: lightblue;}

.theme-detail-container, .theme-ability-container {
    width: 400px; height: 100%;
    display: flex; flex-direction: column;
    background-color: #303030;
    border-radius: 15px;
    padding: 10px;
}

.theme-detail-container {align-items: center;}

.theme-detail {
    display: flex; flex-direction: column;
    align-items: center;
    height: 100%;
}

.theme-detail > * {margin: 5px;}

.theme-stat-box {
    display: flex; flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding: 5px;
}

.theme-desc {text-align: center;}

.select-button-container {
    display: flex; flex-direction: column;
    justify-content: center;
    height: 100%;
}

.theme-ability-container {overflow-y: auto;}

.theme-ability-box {
    display: flex; flex-direction: column;
    margin: 20px;
}

.theme-ability-name, .theme-ability-desc {padding: 5px;}

.theme-ability-name {background-color: #101010;}
.theme-ability-desc {background-color: #202020; color: lightgray;}